<div ng-controller="campaign.controller">
    <div class="row">
        <div class="col-xs-3 hidden-xs hidden-sm no-right-padding sidebar">
            <div class="sidebar-content">
                <h4>Campaign</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="" ui-sref="campaigns.characters">Characters</a></li>
                    <li><a href="" ui-sref="campaigns.playlists">Playlists</a></li>
                    <li><a href="" ui-sref="campaigns.soundboards">Soundboards</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            <h2>{{model.campaign.Name}}</h2>
        </div>
    </div>
</div>