<div class="row" ng-controller="campaign.controller">
    <div class="col-xs-3 hidden-xs hidden-sm no-right-padding sidebar">
        <div class="sidebar-content">
            <div class="sidebar-section">
                <h4>Characters</h4>
                <ul>
                    <li ng-repeat="character in model.campaign.Characters">
                        <a href="" ui-sref="campaigns.campaign.character({characterId: character.Id})" title="{{character.Name}}"
                           ng-click="model.pageElements.selectedTab = character.Id"
                           ng-class="{'sidebar-active': model.pageElements.selectedTab == character.Id}">
                            {{character.Name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-9">
        <ui-view/>
    </div>
</div>