<div class="fixed-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="dashboard-panel">
                <div class="panel-heading">
                    <h3>Campaigns</h3>
                </div>
                <div class="row" ng-show="model.campaigns.length > 0">
                    <div class="col-xs-12 col-sm-6" ng-repeat="campaign in model.campaigns">
                        <a href="" title="{{campaign.name}}" class="panel-link">
                            <div class="panel campaign-panel" ng-style="returnBackgroundImage(campaign.imageUrl)">
                                <div class="panel-body">
                                    <h3>{{campaign.name}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row" ng-show="model.campaigns == null || model.campaigns.length == 0">
                    <div class="col-xs-12">
                        <div class="well text-center">
                            <p>You don't have any campaigns.</p>
                            <button type="button" class="btn btn-default top-margin">Create Campaign</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-panel">
                <div class="panel-heading">
                    <h3>Characters</h3>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <a href="" title="Beast Attack" class="panel-link">
                            <div class="panel character-panel">
                                <img src="/Images/forcePanelSize.png"/>
                                <h4>Tian A'Alor</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="dashboard-panel">
                <div class="panel-heading">
                    <h3>Playlists</h3>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <a href="" title="Beast Attack" class="panel-link">
                            <div class="panel playlist-panel">
                                <img src="/Images/forcePanelSize.png"/>
                                <span class="glyphicon glyphicon-play-circle"></span>
                                <h4>Beast Attack</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="" title="Ambient Forest" class="panel-link">
                            <div class="panel playlist-panel">
                                <img src="/Images/forcePanelSize.png"/>
                                <span class="glyphicon glyphicon-play-circle"></span>
                                <h4>Ambient Forest</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>