<!DOCTYPE html>
<html ng-app="soundboxApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title ng-bind="'Soundbox' + (($state.current.data.title && $state.current.data.title.length > 0) ? (' - ' + $state.current.data.title) : '')"></title>
    <link rel="icon" href="/Images/favicon.png">
    <title>Soundbox</title>
    @Styles.Render("~/Content/css")
</head>
<body ng-controller="root.controller">
<header>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="fixed-content col-padding">
            <div class="row navbar-search">
                <div class="col-xs-2">
                    <button type="button" class="navbar-toggle" href="" ui-sref="home">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="col-xs-8">
                    <div class="input-group">
                        <input class="form-control" aria-label="Text input with segmented button dropdown"
                               placeholder="Search"
                               ng-model="model.search">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-default btn-round glyphicon glyphicon-plus"></button>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    @RenderBody()
</div>
<div class="currentPlaylistContainer">
    <div class="fixed-content">
        <button type="button" class="btn btn-round" ng-click="model.pageElements.currentlyPlayingExpanded = !model.pageElements.currentlyPlayingExpanded">
            <i class="fa " aria-hidden="true"
               ng-class="{'fa-chevron-up': !model.pageElements.currentlyPlayingExpanded, 'fa-chevron-down': model.pageElements.currentlyPlayingExpanded}"></i>
        </button>
        <div class="row">
            <div class="col-xs-12 currentPlaylist">
                <div class="row">
                    <div class="col-xs-6 col-md-2">
                        <div class="currentPlaylistControls">
                            <button type="button" class="currentPlaylistbtn">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="currentPlaylistbtn"
                                    ng-if="!model.isPlaying"
                                    ng-click="model.isPlaying = true">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="currentPlaylistbtn"
                                    ng-if="model.isPlaying"
                                    ng-click="model.isPlaying = false">
                                <i class="fa fa-pause" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="currentPlaylistbtn">
                                <i class="fa fa-forward" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-push-8 col-md-2 text-right">10:00 / 10:00</div>
                    <div class="col-xs-12 col-md-pull-2 col-md-8">Track Name</div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/core")
@Scripts.Render("~/Scripts/angularjs")
</body>
</html>