@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ABeeZee-Regular';
    src: url('../fonts/abeezee-regular.ttf') format('truetype');
}

@headers: 'Montserrat-Regular', Helvetica Neue, Helvetica, Arial, sans-serif;
@body: 'ABeeZeeRegular', Helvetica Neue, Helvetica, Arial, sans-serif;

/* Colors */
@primaryColor:#03e4ac;
@secondaryColor:#254456;

@nearBlack:#323A41;
@darkColor:#676867;
@mediumColor:#A5A4A4;
@lightColor:#EBEEEF;

@primaryHeaderColor:;
@secondaryHeaderColor:;

@linkColor:#03e4ac;
@textColor:#323A41;
@secondaryTextColor:;

@navbarText:;
@navbarBackground:#324359;
@footerBackground:;

@success:;
@warning:;
@error:;

@backgroundColor:#F7F8F9;
@secondaryBackgroundColor:;

/* Buttons */
@btn:;

/* Elements */
@modal:;
@panel:;

/* Layout */
@smallSpacing: 5px;
@mediumSpacing: 10px;
@defaultSpacing: 15px;
@largeSpacing: 30px;
@xlargeSpacing: 60px;