html, body {
    font-family: 'ABeeZee-Regular', Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, .sidebar h4 {
    font-family: 'Montserrat-Bold', Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin: 20px 0;
}

h4, .h4, h5, .h5, h6, .h6, .btn {
    font-family: 'Montserrat-Regular', Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

/* Background Colors */
.dashboard-panel .panel-heading {
    background-color: transparent;
}

/* Font Colors */
.campaign-panel, .character-panel, .playlist-panel {
    color: white;
}
.sidebar-content li a {
    color: #626970;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus,
.panel-link:hover span,
.sidebar-content li a:hover, .sidebar-content li a:focus, .sidebar-content .sidebar-active {
    color: #03e4ac;
}

/* Borders */
.navbar, .navbar-default .navbar-toggle {
    border: none;
}
.btn-round {
    border: 2px solid;
}
.sidebar {
    border-right: 1px solid;
}
.dashboard-panel {
    border-bottom: 1px solid;
}


.dashboard-panel {
    border-color: #E3E3E3;
}
.sidebar, .panel {
    border-color: #CBCED1;
}
.panel-link:hover .panel {
    border-color: #03e4ac
}
.panel-link:hover .panel {
    box-shadow: 0px 0px 10px #03e4ac;
}

.navbar-inverse {
    -ms-border-radius: 0;
    border-radius: 0;
}
.panel {
    border-radius: 9px;
}
.border-round, .form-control, .btn {
    border-radius: 25px;
}
.input-group .form-control:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Menus and Navigation */
.navbar-default {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-toggle {
    display: inline-block;
    margin-right: 0;
}
.navbar-search .input-group {
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar-search .btn-round {
    margin-top: 7px;
    margin-bottom: 7px;
}
@media (max-width: 430px) {
    .navbar-search .navbar-toggle {
        float: none;
    }
    .navbar-search .col-xs-8 {
        padding: 0 10px;
    }
    .navbar-search .col-xs-2:first-child {
        padding: 0;
    }
    .navbar-search .col-xs-2 button {
        float: right;
    }
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar h4 {
    margin-bottom: 10px;
}
.sidebar li {
    padding: 2px 0;
}
.sidebar li a {
    text-decoration: none;
}
.sidebar-content li a:hover:after, .sidebar-content li a:focus:after, .sidebar-active:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e080";
    float: right;
}

/* Forms And Buttons */
.input-group-btn:last-child .btn {
    padding-right: 1.3em;
} 
.btn-round {
    box-sizing: border-box;
}

/* Panels */
a:hover.panel-link, a:focus.panel-link {
    text-decoration: none;
}
.dashboard-panel {
    margin-bottom: 15px;
}
.dashboard-panel .panel-heading {
    padding-left: 0;
    padding-right: 0;
}
.campaign-panel, .character-panel, .playlist-panel {
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.campaign-panel h3 {
    margin: 10px 0;
}
.character-panel, .playlist-panel {
    text-align: center;
}
.character-panel img, .playlist-panel img {
    width: 100%;
}
.character-panel h4, .playlist-panel h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.playlist-panel span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -60%);
    font-size: 4em;
}