@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

h1, .h1, h2, .h2, h3, .h3 {
    font-family: 'Montserrat-Bold', Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

h4, .h4, h5, .h5, h6, .h6, .btn {
    font-family: 'Montserrat-Regular', Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

/* Background Colors */
html body {
    background-color: #F1F1F1;
}
.navbar-default, #secondary-nav {
    background-image: none;
    background-color: #324359;
}

/* Font Colors */
.navbar-default .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #03e4ac;
}

/* Borders */
.navbar, .navbar-default .navbar-toggle {
    border: none;
}
.btn-round {
    border: 2px solid;
}

.navbar-inverse {
    -ms-border-radius: 0;
    border-radius: 0;
}
.border-round, .form-control, .btn {
    border-radius: 25px;
}
.input-group .form-control:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Menus and Navigation */
.navbar-default {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-toggle {
    display: inline-block;
}
.navbar-search .input-group {
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar-search .btn-round {
    margin-top: 7px;
    margin-bottom: 7px;
}

/* Forms And Buttons */
.input-group-btn:last-child .btn {
    padding-right: 1.3em;
} 
.btn-round {
    box-sizing: border-box;
}