/* Background Colors */
.btn.btn-round, .btnbtn-round:active, .btnbtn-round:hover, .btnbtn-round:focus, .btnbtn-round:disabled {
    background: none;
}
.btn-default {
   background-color: #03e4ac; 
}
.btn-default:focus, .btn-default:hover, .btn-default:active, .btn-default:active:focus, .btn-default:active:hover {
    background-color:#10c89a
}

/* Font Colors */
.btn-default, .btn-default:focus, .btn-default:hover, .btn-default:active, .btn-default:active:focus, .btn-default:active:hover,
.btn-default.btn-round:hover {
    color: white;
}

.btn-default.btn-round {
    color: #03e4ac;
}

/* Border Colors */
.btn-default {
    border-color: #03e4ac;
}
.btn-default:focus, .btn-default:hover, .btn-default:active, .btn-default:active:focus, .btn-default:active:hover {
    border-color: #10c89a;
}