.no-left-padding {
    padding-left: 0;
}
.no-right-padding {
    padding-right: 0;
}
.col-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.top-margin {
    margin-top: 15px;
}
.bottom-margin {
    margin-bottom: 15px;
}
.content-space {
    margin-bottom: 30px;
}
.large-bottom-margin {
    margin-bottom: 60px;
}