html, body {
    min-width: 320px;
}
body {
    padding-top: 60px;
}
.fixed-content {
    margin: auto;
}
@media(min-width: 768px) {
    .fixed-content {
        width: 750px;
    }
}
@media(min-width: 992px) {
    .fixed-content {
        width: 970px;
    }
}
@media(min-width: 1200px) {
    .fixed-content {
        width: 1170px;
    }
}

/* Sidebar */
.sidebar {
    position: relative;
    height: 100vh;
    margin-bottom: -60px;
    overflow-y: auto; 
}
.sidebar-content, .sidebar-page {
    padding-left: 15px;
    padding-right: 15px;
}
.sidebar-content {
    width: 100%;
    max-width: 250px;
    float: right;
}